<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignIn</title>
    <link rel="stylesheet" href="/static/register.css">
</head>
<body>
    <div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="POST">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="uname" placeholder="User name" required="">
					<input type="email" name="email" placeholder="Email" required="">
					<input type="password" name="pword" placeholder="Password" required="">
                    <input type="re-enter password" name="pswd" placeholder="Password" required="">
					<input type="submit" class="button" value="Register">
				</form>
			</div>

			<div class="login">
				
			</div>
	</div>

</body>
</html>