<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Output</title>
    <link rel="stylesheet" href="/static/inventory.css">
    <link rel="stylesheet" href="/static/admin-darkmod.css">
</head>
<body>
    <h1>Product Output</h1>
    <a class="homeButt" href="{{ url_for('admin') }}" style="text-decoration: none; color: rgb(255, 255, 255);">
        <button class="mt-5 rounded border-0 bg-light">Back to Home</button>
    </a>
    
    <hr>

    <h2>Product List</h2>
    <table border="1">
        <thead>
            <tr>
                    <th>sl-no</th>
                    <th>product id</th>
                    <th>Brand</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Product Price</th>
                    <th>LOcation</th>
                    <th>Date & Time</th>
                    <th>Update</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    <td></td>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                   
                    <td>
                        <form action="{{ url_for('details') }}" method="POST">
                            <input type="hidden" name="sl_no" value="{{ row[0] }}">
                            <select name="new_location" required>
                                <option value="Shop">Shop</option>
                                <option value="Warehouse">Warehouse</option>
                                <option value="Warehouse">shop 2</option>
                            </select>
                            <input type="submit" value="update">
                        </form>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="theme-container shadow-dark">
        <img id="theme-icon"    src="https://www.uplooder.net/img/image/2/addf703a24a12d030968858e0879b11e/moon.svg" alt="ERR">
      </div>
      <script src=""></script>
</body>
</html>
